<!DOCTYPE HTML>
<head>
    <title>Flask</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}">
</head>
<body>
<h1>Weather App</h1>
<form method="POST">
    <div id="form-body">
        <label for="city">City:</label>
        <input type="text" id="city" name="city" placeholder="Bengaluru"><br>
        <input type="submit">
        </div>
</form>
<div id="result">
    <p>Description: {{desc}}<br>
        Temperature: {{temp}} <br>
        Humidity: {{humidity}}<br>
        Pressure: {{pressure}}<br>
        Wind Speed: {{wind_speed}}<br>
        Local Date:{{date}}<br>
        Local Time :{{time}}<br>
    </p>
    </div>
</body>